.nav-button{
    z-index: 9999;
    background-image: url(./imports/OilPaint.png);
    background-size: 100% 100%;
    padding: 0.1vw!important;
    margin: 0.5vw!important;
    font-size: 1.5vw!important;
    font-family: 'Indie Flower', cursive;
    color: white;
}