.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,1);
    position: fixed;
    top: 0;
    left: 0;
    transform: scale(0);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    scroll-behavior: smooth;
}

.modal-content{
    background-color: black;
    width: 90vw;
    height: 90vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    z-index: 100;

    border: 1px solid dimgray;
}

.modal.active{
    transition: 0.5s;
    transform: scale(1);
    z-index: 99;
    pointer-events: all;
    display: flex;
}

.modal-image{
    width: 70vw;
    height: 90vh;
    object-fit: cover;
}

.modal-description{
    padding: 20px;
    border: 1px solid dimgray;
    font-family: 'Indie Flower', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.modal-title{
    font-size: 2.3vw;
    color: orange;
}

.modal-subtitle{
    font-size: 1.5vw;
}

.modal-video{
    width: 70vw!important;
    height: 90vh;
}

.modal-content video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}