.nav-button{
    position: relative;
    z-index: 2;
    width: auto;
    height: auto;
    background-size: 100% 100%;
    background-position: center;
    padding: 0.1vw;
    margin: 0.5vw;
    font-size: 1.5vw;
    font-family: 'Indie Flower', cursive;
    color: rgba(227,213,213, 0.8);
}

.nav-button:hover{
    transform: scale(1.1);
    transition: ease-in-out;
}

.nav-button:active{
    color: gray;
}