@media (orientation: landscape){
    .screen-filler{
        position: relative;
        width: 100vw;
        height: 100vh;
        background-image: url(./imports/main-background.jpg);
        background-size: cover;
        background-position: center;
    }

    .info-block{
        display: flex;
        flex-direction: column;
        justify-content: center;

        position: absolute;
        top: 30vh;
        left: 20vw
    }

    .info-block-text{
        position: relative;
    }

    .info-block-button{
        position: relative;
        width: 16vw!important;
        height: 7vh!important;
        top: 0.7vh;
        font-size: 2.5vw!important;
        background-image: url("../../components/NavButton/imports/OilPaint.png");
    }

    .left-offset{
        position: relative;
        left: 4vw;
    }

    .main-to-about-transition{
        z-index: 5;
        position: absolute;
        top: 95vh;
        background: linear-gradient(360deg, #000000 0%, #081214 69.37%, #09171A 101.65%, rgba(104, 104, 104, 0.5) 136.83%);
        filter: blur(1vh);
        height: 10vh;
        width: 100vw;
    }
}