@media (orientation: landscape){
    .screen-filler{
        position: relative;
        width: 100vw;
        height: 100vh;
        background-image: url(./imports/main-background.jpg);
        background-size: cover;
        background-position: center;
    }

    .info-block{
        display: flex;
        flex-direction: column;
        justify-content: center;

        position: absolute;
        top: 30vh;
        left: 20vw
    }

    .info-block-text{
        position: relative;
    }

    .split-text{
        color: white;
        font-family: 'Indie Flower', cursive;
        font-size: 2vw;
        text-align: center;
        cursor: pointer;
    }

    .split-text-word:hover{
        color: orange;
        transition-duration: 0.1s;
    }

    .split-text-word{
        width: auto;
    }

    .info-block-button{
        position: relative!important;
        font-size: 2vw!important;
        color: white!important;
    }

    .info-block-button:hover{
        transform: scale(1.1);
    }

    .main-to-about-transition{
        z-index: 25;
        position: absolute;
        top: 95vh;
        background: linear-gradient(360deg, #000000 0%, #081214 69.37%, #09171A 101.65%, rgba(104, 104, 104, 0.5) 136.83%);
        filter: blur(1vh);
        height: 10vh;
        width: 100vw;
    }

    .first-button{
        width: 12vw;
        height: 6vh;
        position: relative;
        top: 2vh;
        background: linear-gradient(281.94deg, rgba(118,108,22, 0.8) -2.63%, rgba(137, 106, 25, 0.6) 39.63%, rgba(8, 26, 26, 0.8) 85.57%);
        display: flex;
        justify-content: center;
        align-content: center;
        border-radius: 2vh;
        filter: drop-shadow(-1vw -1.5vh 0.2vh rgba(0, 0, 0, 0.5));
    }

    .left-offset{
        display: flex;
        justify-content: center;
    }
}