.infoblock{
    position: absolute;
    margin-left: 4vw;
    width: 31vw!important;
    height: 34vh!important;
}

.infoblock-title{
    display: inline-block;
    font-size: 6.5vh;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

.infoblock-descriptor{
    font-size: 3.7vh;
    font-family: 'Indie Flower', cursive;
    color: white;
}

.infoblock-button{
    background-image: url(/src/components/nav-button/imports/OilPaint.png);
    background-size: 100% 100%;
    padding: 0.1vw!important;
    margin: 0.5vw!important;
    font-size: 3vw!important;
    font-family: 'Indie Flower', cursive;
}