@media (orientation: landscape) {
    .info-card{
        display: flex;
        flex-direction: row;
        width: 60vw;
        margin-top: 3vh;
    }

    .info-card-image{
        height: 100%;
        justify-self: end;
        margin-left: 1vw;
        margin-right: 1vw;
        width: 28vw;
        object-fit: cover;
    }

    .info-card-blur{
        position: relative;
    }

    .info-card-blur:after{
        content: '';
        position: absolute;
        top:0; left:0; right:0; bottom:0;
        box-shadow: inset 4vh 3vw 3vw 1vw #000000, inset -4vh -3vw 3vw 1vw #000000;
    }

    .card-text{
        cursor: pointer;
        width: 30vw;
        font-size: 2vw;
        font-family: 'Indie Flower', cursive;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-text-subtitle{
        display: flex;
        flex-direction: column;
        width: 30vw;
        text-overflow: ellipsis;
        overflow: hidden;
        color: white;
    }

    .card-text-title{
        cursor: pointer!important;
        all: inherit!important;
        color: darkorange!important;
        font-size:  5.3vh!important;
    }
}