.row{
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    overflow: hidden;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 70vh;
    max-height: 80vh;

    margin: 0.1vw;
}

.gallery-row{
    display: flex;
    flex-direction: row;
    object-fit: cover;
}