@media (orientation: landscape) {
    .newses-container{
        display: flex;
        flex-direction: row;
        padding: 5vh;
        height: auto;
        width: 85vw;
        justify-content: space-between;
        align-items: center;

        overflow:hidden;
    }

    .news-row{
        display: flex;
        flex-direction: row;
    }

    .list-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .arrow-active{
        width: 2vw;
        height: 2vw;
        background-image: url("imports/arrow-active.svg");
        cursor: pointer;
        background-size: cover;
        background-position: center;
    }

    .arrow-disabled{
        width: 2vw;
        height: 2vw;
        background-image: url("imports/arrow-unactive.svg");
        background-size: cover;
        background-position: center;
        color: white;
    }

    .turn-right{
        transform: rotateZ(90deg);
    }

    .turn-left{
        transform: rotateZ(-90deg);
    }

    .turn-left.arrow-active:hover{
        transform: rotateZ(-90deg) translateY(-5px);
    }

    .turn-right.arrow-active:hover{
        transform: rotateZ(90deg) translateY(-5px);
    }

    .newses{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .news-page{
        position: relative;
        bottom: 5vh;
        font-size: 5vh;
    }

    .news-page.news-title:first-letter{
        color: white!important;
    }
}