@media (orientation: landscape) {
    .upper-panel{
        z-index: 10;

        display: flex;
        justify-content: center;

        height: 6vh;
        width: 100vw;
        background-color: transparent!important;
        position: fixed!important;
        top: 0;
    }

    .upper-blur{
        z-index: 4;
        position: absolute;

        width: 100vw;
        height: inherit;

        background-color: rgba(0,0,0,0.8);
    }

    .upper-panel.show .upper-panel{
        display: initial;
    }

    .upper-panel.hide .upper-blur{
        display: none;
    }

    .toolbar{
        align-self: center;
        justify-content: space-between;
        z-index: 5;
        width: 60vw;
    }

    .separator {
        font-size: 1vw !important;
        cursor: default;
    }

    .logo {
        width: 5vw;
        height: auto;
        cursor: pointer;
        object-fit: cover;
    }

    .logo:hover{
        transform: scale(1.1)!important;
    }

    .nav-buttons {
        display: flex;
        width: 52vw;
        justify-content: space-between !important;
    }

    .button-1 {
        position: relative;
        width: 7vw!important;
        height: 4vh!important;
        font-size: 2vw !important;
        padding-bottom: 1vh;
    }

    .button-active{
        color: darkorange;
    }

    .logo.button-active{
        filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(-20deg) saturate(600%) contrast(0.8);
    }

    .button-2 {
        position: relative;
        width: 8vw!important;
        padding-bottom: 1vh;
        height: 4vh!important;
        font-size: 2vw !important;
    }

    .follow-buttons{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .reddit-button{
        background-image: url("./imports/reddit-logo.svg");
        background-position: center;
        background-size: cover;
        width: 2vw;
        height: 2vw;
    }

    .reddit-button:hover{
        transform: scale(1.1);
    }

    .steam-button{
        background-image: url("./imports/steam-logo.svg");
        background-position: center;
        background-size: 100% 100%;
        width: 2.4vw;
        height: 2.4vw;
    }

    .steam-button:hover{
        transform: scale(1.1);
    }

    .telegram-button{
        background-image: url("./imports/telegram-logo.svg");
        background-position: center;
        background-size: 100% 100%;
        width: 2vw;
        height: 2vw;
    }

    .telegram-button:hover{
        transform: scale(1.1);
    }
}