.gallery-item video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    border: 1px solid rgba(20,20,20, 1);
    z-index: 5;

    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.load-indicator{
    width: 2vw;
    height: 2vw;
    position: absolute;
    top: 10vh;
    left: 8vw;
    z-index: -1!important;
    background-image: url("./imports/loading-icon.svg");
}

source{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

video:hover{
    -webkit-filter: none;
    filter: none;
}