@media (orientation: landscape){
    .title{
        position: absolute;
        bottom: 90vh;
        left: 25vw;
    }

    .gallery-container{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 60vw;
        height: auto;
        justify-self: center;
    }

    .image{
        display: flex;
        width: 60vw;
        height: 35vh;
        background-size: cover;
        background-position: center;
        background-image: url(imports/images/3clipse_gallery1.jpg);

        box-shadow: inset 5vh 3vw 3vw 1vw #000000, inset -5vh -3vw 3vw 1vw #000000;
        filter: blur(0.2vh);
    }

    .images-gallery{
        z-index: 5;
        position: relative;
        bottom: 7vh;
        width: 60vw;
        height:auto;
        display: flex;
        flex-direction: column;
    }

    .active-tab b{
        transform: scale(1.1);
        color: darkorange;
    }

    .on-gallery{
        width: 80vw!important;
        height: 20vh!important;
        position: absolute;
        bottom: 85vh;
        right: -9vw;
    }
}