@media (orientation: landscape) {
    .header{
        display: flex;
        align-content: center;
        flex-direction: column;

        width: auto;
        height: auto;
        max-height: 30vh;
    }

    .header-title{
        display: flex;
        flex-direction: row;
        justify-content: center;
        cursor: pointer;

        font-size: 3.1vw;

        font-family: 'Indie Flower', cursive;
    }

    .title1{
        all: inherit;
        color: darkorange;
    }

    .title1:hover{
        color: orange;
        transition-duration: 0.1s;
    }

    .title2{
        all: inherit;
        color: white;
    }

    .title2:hover{
        color: orange;
    }

    .header-subtitle{
        color: white;
        display: flex;
        font-size: 1.9vw;
        text-align: center;
        font-family: 'Indie Flower', cursive;
    }
}